# Server
PORT=8000
SHUTDOWN_TIMEOUT=5

# JWT
JWT_SECRET=qwertyuiopasdfghjlzxcvbnm
COOKIE_NAME=NoterianCookieJWT
COOKIE_TIME_JWT=3600
IS_SECURE=false

# Database
DB_HOST=postgres
DB_PORT=5432
DB_USER=noterian_user
DB_PASSWORD=noterian_password
DB_NAME=noterian_db
DB_SSL_MODE=disable

# Logging
LOG_LEVEL=INFO