# Server
# 1. Server port
SERVER_PORT=8000
# 2. Read timeout for server
SERVER_READ_TIMEOUT= 15
# 3. Write timeout for server
SERVER_WRITE_TIMEOUT= 15
# 4. Idle timeout for server
SERVER_IDLE_TIMEOUT= 15
# 5. Shutdown timeout for server
SERVER_SHUTDOWN_TIMEOUT=5

# JWT
# 1. JWT-secret for token generation
JWT_SECRET=your_super_secret_key_here
# 2. Name of JWT-token cookie
JWT_COOKIE_NAME=NoterianCookieJWT
# 3. JWT-token lifetime
JWT_COOKIE_TIME=3600

# Database
# 1. Host of database
DB_HOST=postgres
# 2. Port of database
DB_PORT=5432
# 3. User of database
DB_USER=noterian_user
# 4. Password of database
DB_PASSWORD=noterian_password
# 5. Name of database
DB_NAME=noterian_db
# 6. SSL mode for connecting to database (disable/preferred/require/skip-verify/verify-ca/verify-full)
DB_SSL_MODE=disable
# 7. Maximum number of open connections to the database
DB_MAX_OPEN_CONNECTIONS=25
# 8. Maximum number of idle-connections to the database
DB_MAX_IDLE_CONNECTIONS=10

# Security flag (https)
IS_SECURE=false

# Logging level
LOG_LEVEL=INFO